@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Alfa+Slab+One&family=Architects+Daughter&family=Bangers&family=Comic+Neue&family=Creepster&family=Epilogue&family=Noto+Serif+Display&family=Playfair+Display&family=Roboto&family=Satisfy&family=Staatliches&display&family=Fjalla+One&display&family=Lato&display=swap');

/* Header Font */


/* stripping default styling */

body,
ul,
h1,
h2,
h3,
p,
a,
i{
margin: 0;
padding: 0;
}

li{
list-style: none;
}

a{
text-decoration: none;
color: inherit;
}


.App {
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
}

h1, h2 {
  font-family: 'Fjalla One', sans-serif;
}

h2 {
  padding-top: 25px;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  width: 90%;

}

img {
  max-width: 100%;
  display: block;
}

form {
  border: 1px solid black;
  padding: 20px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formInputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

input[name="userName"] {
  grid-column: 1 / 2;
}

input[name="userLastName"] {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

label[for="userLastName"] {
  grid-row: 1/2;
  grid-column: 2/3;
}

input[name="subtitle"] {
  grid-row: 4 / 5;
}


.fontSelection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  padding: 30px 0px;
}

.fontSelection label {
  /* border: 1px solid black; */
  padding: 10px 0px;
}

input[type="checkbox"] {
  /* display: none; */
}


.inputs {
  display: flex;
  flex-direction: column;
  
}

select[name="photoSelection"] {
  width: 25%;
}

.imageDiv {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
}

.imageContainer {
  width: 250px;
  height: 250px;
  overflow: hidden;
  margin: 5px;
  padding: 30px 0px;
}

button {
  margin: 0 auto;
}

/* style landing page here */
.landingPage {
  width: 50%;
  height: 90vh;
  /* background-image: url("https://images.unsplash.com/photo-1472476443507-c7a5948772fc?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyNzc0Nzh8MHwxfHNlYXJjaHwxfHxrZXRjaHVwfGVufDB8fHx8MTYzNzk4NDUwMA&ixlib=rb-1.2.1&q=80&w=1080"); */
}
