html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}
html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* GOOGLE FONTS */

@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Alfa+Slab+One&family=Architects+Daughter&family=Bangers&family=Comic+Neue&family=Creepster&family=Epilogue&family=Noto+Serif+Display&family=Playfair+Display&family=Roboto&family=Satisfy&family=Staatliches&display&family=Fjalla+One&display&family=Lato&display=swap');

/* STRIP BASE STYLE */

body, ul, h1, h2, h3, p, a, i{
margin: 0;
padding: 0;
}

li{
list-style: none;
}

a{
text-decoration: none;
color: inherit;
}

/* END OF STRIP BASE STYLE */

.App {
  font-family: 'Lato', sans-serif;
}

header {
  background-color: #7672f7;
}

header h1 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 60px;
  padding-top: 10px;
  letter-spacing: 2px;
}

h1 span {
  border-bottom: 4px solid #e7605c;
}

header h2 {
  font-family: 'Fjalla One', sans-serif;
  padding-top: 25px;
}

h3 {
  padding-top: 10px;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  width: 80%;

}

img {
  max-width: 100%;
  display: block;
}

main{
  background-image: linear-gradient(#7672f7, #e7605c);
}

.mainSection{
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}

.appLandingPage {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.appLandingPage h2{
  letter-spacing: 2px;
}

.logo{
  font-family: 'Fjalla One', sans-serif;
}

.appLandingPage p,
.preview p,
.editButton,
.generateCode p{
  border: 3px solid black;
  border-radius: 25px;
  background-color: white;
  padding: 10px 20px;
  margin-top: 10px;
  text-transform: uppercase;
}

form {
  border: 3px solid black;
  padding: 20px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

.formInputs {
  display: grid;
  grid-template-columns: .5fr 2fr;
  gap: 15px;
  margin-bottom: 20px;
}

.fontSelection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  padding: 30px 0px;
  position: relative;
  text-align: center;
}

.fontSelection label {
  padding: 10px 0px;
}

.fontSelection h3 {
  padding: 10px;
}

input[type="checkbox"] {
  visibility: visible;
  opacity: 0;
}

input:checked + label h3,
input:focus + label h3{
  border: 3px solid black;
  position: absolute;
  width: calc(130px - 6px);
}

input:checked + label img,
input:focus + label img{
  border: 3px solid black;
}

.inputs {
  display: flex;
  flex-direction: column;
  
}

select[name="photoSelection"] {
  width: 25%;
}

.backgroundLabel {
  padding: 10px 0px;
}

.imageDiv {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 5px;
}

.imageContainer {
  width: 250px;
  height: 250px;
  overflow: hidden;
  margin: 5px;
  padding: 30px 0px;
}

button {
  margin: 0 auto;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  background-color: #7672f7;
  border: 3px solid #000;
  border-radius: 10px;
}

/* LANDING PAGE STYLE */

.landingPage {
  width: 80%;
  height: 50vh;
  position: sticky;
  top: 50px;
  right: 10%;
}

.landingScreen{ 
  background-size: cover;
  width: 100%;
  height: 50vh;
  box-shadow: black 10px 10px; 
  border: 3px solid black;
}

.previewButtons{ 
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 15px;
}
.preview p{
  text-align: center;
  margin: 0 auto;
  width: 150px;
}

.generateCode p{
  text-align: center;
  margin: 0 auto;
  width: 180px;
}

.linkButton{
  color: grey;
  text-decoration: line-through;
}

.editButton {
  text-align: center;
  margin: 20px auto;
  width: 20%;
}

.previewContainer{
  padding: 30px 0;
}

.previewPage{
  margin: 0 auto;
  width: 99%;
  height: 100vh;
  border: 3px solid black;
  background-size: cover; 
}

.previewPage, 
.landingScreen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landingScreen h1{
  padding: 10px 0px;
  font-size: 3rem;
}

.previewPage h1{
  padding: 10px;
  font-size: 6rem;
}

.landingScreen h2{
  font-size: 2rem;
}

.previewPage h2{
  font-size: 4rem;
}

.landingScreen p{
  padding: 10px 0px;
}

.previewPage p{
  padding: 10px 0px;
  font-size: 2rem;
}

.displayContainter{
  padding: 30px 0px;
}

.displayCodePage{
  width: 80%;
  background-color: white;
  border: 3px solid black;
  overflow: scroll;
  margin: 0 auto;
  padding: 10px 0px;
}

i{
  font-size: 50px;
  padding: 25px 10px;
}

.socialIcons{
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.socialIconsPreview{
  width: 25%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.socialIconsPreview i{
  font-size: 75px;
}

footer {
  background-color: #e7605c;
  text-align: center;
  padding: 10px;
}

/* MEDIA QUERIES */

@media (max-width: 1200px) {
  .fontSelection {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1163px) {
  .mainSection{
    flex-direction: column;
  }
  .landingPage{
    width: 95%;
    margin-top: 25px;
  }
  .fontSelection {
    grid-template-columns: repeat(4, 1fr);
  }
  input:checked + label h3,
  input:focus + label h3{
  width: calc(200px - 6px);
}
}

@media (max-width: 975px) {
  input:checked + label h3,
  input:focus + label h3{
  width: calc(175px - 6px);
}
}

@media (max-width: 850px) {
  input:checked + label h3,
  input:focus + label h3{
  width: calc(150px - 6px);
}
}

@media (max-width: 795px) {
  .fontSelection {
    grid-template-columns: repeat(3, 1fr);
  }
  input:checked + label h3,
  input:focus + label h3{
  width: calc(175px - 6px);
}
}

@media (max-width: 746px) {
  .imageContainer {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 675px) {
  input:checked + label h3,
  input:focus + label h3{
  width: calc(150px - 6px)
}
}

@media (max-width: 641px) {
  .previewPage h1 {
    font-size: 5rem;
  }
  .socialIconsPreview{
    width: 50%;
  }
}

@media (max-width: 625px) {
  .formInputs {
    grid-template-columns: .75fr 2fr;
  }
  .fontSelection {
    grid-template-columns: repeat(2, 1fr);
  }
  .imageContainer {
    width: 150px;
    height: 150px;
  }
  select[name="photoSelection"] {
    width: 50%;
  }
  input:checked + label h3,
  input:focus + label h3{
  width: calc(200px - 6px)
}
}

@media (max-width: 555px) {
  input:checked + label h3,
  input:focus + label h3{
  width: calc(175px - 6px)
}
}

@media (max-width: 538px) {
  .previewPage h1 {
    font-size: 4rem;
  }
}

@media (max-width: 524px) {
  header h1 {
    font-size: 50px;
  }  
}

@media (max-width: 495px) {
  .formInputs {
    grid-template-columns: 1fr;
  }
  .fontSelection {
    grid-template-columns: 1fr;
  }
  .imageDiv {
    display: grid;
    grid-template-columns: 1fr;
  }
  .imageContainer {
    width: 200px;
    height: 200px;
  }
  input:checked + label h3,
  input:focus + label h3{
  width: calc(300px - 6px)
}
}

@media (max-width: 442px) {
  header h1 {
    font-size: 40px;
  }
  .previewButtons{
    padding: 0px;
    display: block;
  }
  footer{
    padding-top: 75px;
  }
}

@media (max-width: 436px) {
  .previewPage h1 {
    font-size: 3rem;
  }
  .previewPage h2 {
    font-size: 2.5rem;
  }
  .socialIconsPreview{
    width: 75%;
  }

}

@media (max-width: 408px) {
  .landingScreen h1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 360px) {
  header h1 {
    font-size: 35px;
  }
}